.container {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 828px;
    height: 100%;
    background-color: #3f3f3f;
}